/* Common For All */
html{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0;
    padding: 0;
    font-size: 25px;
    overflow-x: hidden;
}

section{
    width: 100%;
}

section:nth-child(2n){
    background-color: rgb(233, 233, 233);
}
.section-heading{
    color: #2858a5;
    font-weight: 100;
}
.section-heading span{
    margin-right: 15px;
}
/* --Common Styling-- */


/* Alignment */
.text-center{
    text-align: center;
}

.none-list{
    list-style: none;
}

.text-end{
    text-align: end;
}

.text-justify{
    text-align: justify;
}

.bg-gold{
    background-color:#edcf92;
}
/* Margin Padding */
.m-auto{
    margin: auto;
}

.mb-75px{
    margin-bottom: 75px;
}

.mt-75px{
    margin-top: 75px;
}
.pt-30px{
    padding-top: 30px;
}

.pb-30px{
    padding-bottom: 30px;

}

/* Color */
.color-blue{
    color: #2858a5;
}

.color-orange{
    color: #eb8537;
}

.color-grey{
    color: #777d8c;
}
/* Background Color */
.bg-blue{
    background-color: #2858a5;
}

.bg-orange {
    background-color: #ec4d1c;
}

.bg-green {
    background-color: #0b8176;
}

.bg-light-purple {
    background-color: #93738c;
}
/* Percentage */
.eightyFive-per{
    width: 85%;
}

.seventyFive-per{
    width: 75%;
}

.seventy-per{
    width: 70%;
}

.eighty-per{
    width: 80%;
}


.text-highlighter{
    color: #2858a5;
    font-weight: 550;
}

/* Nav Bar */
.horizontal-list li{
    display: inline-block;
    margin: 0px 30px 20px 30px;
}

.horizontal-list li a{
    color: white;
    text-decoration: none;
    transition: all 1s ease-in-out;
}

nav .horizontal-list li a:hover{
    color: black;
    text-decoration: underline black;
}

/* Bars */

.bar-list{
    display: none;
    position: sticky;
    right: 5%;
    top: 5%;
}

.bar{
    font-size: 40px;
}

.list ul li a{
    color: black;
    text-decoration: none;
}

.list ul li{
    margin:10px;
    transition: 0.5s all ease-in;
    /* border-bottom: 1px solid black; */
}

.list ul{
    padding: 0px;
    box-shadow: 0px 0px 4px 4px black;
}

.bar-list:hover .list{
    display: block;
}

.list ul li:hover{
    border-bottom: 1px solid black;
}
/* Header */
header{
    margin: 0px;
    padding: 10px 0px;
    color: white;
    background-image: url('./macbook_mouse.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
    width: 100vw;
    height: 75vh;
}
/* Name */
.name{
    font-weight: 900;
    letter-spacing: 4px;
    font-family: 'Times New Roman';
}

/* Social Icons */
.social-icons{
    margin-top: 60px;
}
.social-icons li{
    padding: 10px 15px;
    border-radius: 50%;
}

.social-icons li:hover{
    box-shadow: 0px 0px 6px 3px white;
}




/* Profile Photo & About Section */

.profile-image{
    height: 300px;
    width: 300px;
    position: relative;
    border-radius: 50% ;
    opacity: 1.5;
    margin: auto;
    margin-top: -12%;
}

.profile-image img{
    height: 100%;
    width: 100%;
    border-radius: 50% ;
}


#about{
    width: 70%;
    font-size: 23px;
    font-weight: 500;
    line-height: 1.5;
    color:dimgray

}

#about a{
    text-decoration: none;
}

#about a:hover{
    text-decoration: underline;
    color: #eb8537;
}

@media screen and (max-width:900px){
    .nav-bar{
        display: none;
    }
    .profile-image{
        margin-top: -15%;
    }

    .bar-list{
        display: block;
        position: fixed;
    }

    .bar-list .list{
        display: none;
    }
    .horizontal-list li{
        margin: 0px 20px 15px 20px;
    }
}

@media screen and (max-width:500px){
    .profile-image{
        margin-top: -20%;
    }
}

@media screen and (max-width:500px){
    .profile-image{
        margin-top: -25%;
    }
}

.skills-container{
    width: 70%;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Skills Section */
.skill{
    width: 10rem;
    height: 2.5rem;
    margin: 20px 20px 40px 20px;
    border-radius: 1.3rem;
    overflow: hidden;
    background-color: #D3D3D3;
    /* border: 1px solid black; */
}

.skill-progress{
    height: 100%;
    padding-top: 5%;
    box-shadow: 1px 1px 4px 1px grey;
    border-radius: 24px 0px 0px 24px;
}

.skill-name{
    color: white;
    margin-left: 15px;
}

/* Education Section */
#education-container{
    width: 70%;
    /* height: 500px; */
    border: 1px solid black;
}

.timelinebox{
    width: 40%;
    min-width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 15px 15px 15px 5%;
}

.timelinebox:nth-child(2n){
    margin-left: 55%;
}


/* Contact */
#contact{
    color: white;
    width: 100%;
    background-image: linear-gradient(rgb(40, 87, 164), rgb(64, 48, 102));
}

.contact-heading{
    font-size: 40px;
    color: white;
    font-weight: 100;
}

.contact-heading span{
    margin-right: 15px;
}
